Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

Update API key validation to support staging environments
  deploy/staging.yaml
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/cli.py
  packages/datacommons-mcp/datacommons_mcp/utils.py
Due: ruff-format, pytest

Add env vars for autopush
  deploy/autopush.yaml
Due: none

Update autopush to use prod search root, log middleware at debug level
  deploy/autopush.yaml
  packages/datacommons-mcp/datacommons_mcp/middleware.py
Due: ruff-format, pytest

Fix tests
  packages/datacommons-mcp/tests/test_cli.py
  packages/datacommons-mcp/tests/test_utils.py
Due: ruff-format, pytest

Address review comments
  packages/datacommons-mcp/.env.sample
Due: pytest

Remove chart tool
  packages/datacommons-mcp/datacommons_mcp/data_models/charts.py
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Remove search-vector impl
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
Due: ruff-format, pytest

Remove search-indicators - rich metadata version
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_services.py
Due: ruff-format, pytest

Format files
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
Due: ruff-format, pytest

Removed pypi publishing workflow
  .github/workflows/build-and-publish-datacommons-mcp.yaml
Due: none

Remove comment
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Allow manual eval executions to run from main:HEAD in addition to specific PR.
  .github/workflows/evals.yaml
Due: none

Update packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
  packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
Due: ruff-format, pytest

Update datacommons-client to 2.1.6 from TestPyPI and add test dependencies
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: pytest

Add use_search_indicators flag
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
Due: ruff-format, pytest

Refactor search to use fetch_indicators
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/pyproject.toml
  packages/datacommons-mcp/tests/test_dc_client.py
  uv.lock
Due: ruff-format, pytest

Format files
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Use python library from pypi main
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: pytest

Address review comments
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: ruff-format, pytest

chore: bump version to 1.1.5
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Bump version to 1.1.5
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Move /health endpoint to /mcp/health
  deploy/README.md
  packages/datacommons-mcp/datacommons_mcp/server.py
  uv.lock
Due: ruff-format, pytest

Update docker and ci configs
  .github/workflows/ci.yaml
  Dockerfile
Due: none

Commit sync
  packages/datacommons-mcp/examples/sample_agents/basic_agent/.adk/session.db
Due: pytest

Remove unnecessary f
  packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
Due: ruff-format, pytest

Address review comments
  deploy/README.md
Due: none

Bump version to 1.1.6
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: pytest

Removes the unneeded gh auth on GH_TOKEN
  deploy/bump_version.yaml
Due: none

chore: bump version to 1.1.7
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Adds the possibility to bump the version before the staging tag is applied.
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format

Allowing none choice for staging bump
  scripts/create_staging_tag.py
Due: ruff-format

Update usage
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format

Pass target when calling fetch_indicators
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Add DC_INSTRUCTIONS_DIR to DCSettings
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
Due: ruff-format, pytest

Add server and tool instruction markdown files
  packages/datacommons-mcp/datacommons_mcp/instructions/__init__.py
  packages/datacommons-mcp/datacommons_mcp/instructions/server.md
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/__init__.py
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/get_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/search_indicators.md
Due: ruff-format, pytest

Implement DCApp and external instruction loading
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/utils.py
Due: ruff-format, pytest

Add unit tests
  packages/datacommons-mcp/tests/conftest.py
  packages/datacommons-mcp/tests/test_app.py
  packages/datacommons-mcp/tests/test_utils.py
  uv.lock
Due: ruff-format, pytest

Put tool implementations in tools.py
  packages/datacommons-mcp/datacommons_mcp/tools.py
Due: ruff-format, pytest

Refactor server.py to use DCApp and registered tools
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest
