Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  args: []
  stages:
  - pre-push

pytest:
  name: pytest
  entry: uv run pytest packages/datacommons-mcp/tests
  pass_filenames: false
  language: system
  stages:
  - pre-push

remove misc log
  packages/datacommons-mcp/datacommons_mcp/services.py
Due: ruff-format, pytest

Update tool instructions for include_topics and places
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Fix typo
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

refactor dates from strings to datetime
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
  packages/datacommons-mcp/datacommons_mcp/services.py
  packages/datacommons-mcp/datacommons_mcp/utils.py
  packages/datacommons-mcp/tests/data_models/test_observations.py
  packages/datacommons-mcp/tests/test_services.py
Due: ruff-format, pytest

formatter
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
Due: ruff-format, pytest

add variable name to response + address some comments
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
  packages/datacommons-mcp/datacommons_mcp/services.py
  packages/datacommons-mcp/tests/test_services.py
Due: ruff-format, pytest

Finish comments
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/services.py
Due: ruff-format, pytest

update places_count to places_found_count
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
  packages/datacommons-mcp/datacommons_mcp/services.py
  packages/datacommons-mcp/tests/test_services.py
Due: ruff-format, pytest

update docstring
  packages/datacommons-mcp/datacommons_mcp/services.py
Due: ruff-format, pytest

use values iinstead of enums as param defaults
  packages/datacommons-mcp/datacommons_mcp/services.py
Due: ruff-format, pytest

update evalset
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/agent_test.py
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/date_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/place_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/source_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/test_config.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/instructions.py
Due: ruff-format

Update agent evals
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/date_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/place_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/source_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/instructions.py
Due: ruff-format

add json terminal newlines
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/date_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/place_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/source_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/test_config.json
Due: none

fix typos
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/instructions.py
Due: ruff-format

Fix ruff checks and enforce in the repo
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  packages/datacommons-mcp/datacommons_mcp/__init__.py
  packages/datacommons-mcp/datacommons_mcp/_constrained_vars.py
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/services.py
  packages/datacommons-mcp/datacommons_mcp/topics.py
  packages/datacommons-mcp/tests/test_temp_constrained_vars.py
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/bootstrap.py
  pyproject.toml
Due: ruff-format, pytest

fix warning
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
Due: ruff-format, pytest

test commit
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
Due: ruff-format, pytest

fix lint
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
Due: ruff-format, pytest

Make MCP server stateless
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Add dateutil to dependencies
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: pytest

Bump version to 0.1.5
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

create env var to select which search endpoint to use
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
Due: ruff-format, pytest

create _transform_search_indicators_response
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

update _transform_search_indicators_response to include descriptions and alt descs
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/search.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

create fetch_new
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

First draft of getting started guide
  docs/get_started.md
  docs/mcp.png
Due: none

Fix TOC markdown
  docs/get_started.md
Due: none

more formatting fixes
  docs/get_started.md
Due: none

finish out new fetch
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

fix bug
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Update docs/get_started.md
  docs/get_started.md
Due: none

add plumbing
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Rename old path to search_vector
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

rename new path to search_indicators
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

format
  packages/datacommons-mcp/datacommons_mcp/data_models/search.py
Due: ruff-format, pytest

changes from Keyur and Dan
  docs/get_started.md
Due: none

slight rewordings
  docs/get_started.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  pytest: any of: ^packages/datacommons-mcp/
