Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

reapply change that got lost
  README.md
Due: none

Update README.md
  README.md
Due: none

Update packages/datacommons-mcp/README.md
  packages/datacommons-mcp/README.md
Due: pytest

formatting fixes
  docs/get_started.md
Due: none

Default place to world
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/services.py
Due: ruff-format, pytest

Address review comments
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

[v0.1.8] Version bump
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Remove topic store debug log
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/topics.py
Due: ruff-format, pytest

Address review comment
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

search-indicators prompt working well
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Create notebook sample
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

remove output
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

run formatter
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

update precommit hook for notebooks
  .pre-commit-config.yaml
Due: none

test
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

test again
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

undo precommit change -- not working
  .pre-commit-config.yaml
Due: none

undo change
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

Exclude notebooks from linting for now
  pyproject.toml
Due: none

Fix "make a copy" ->"save a copy"
  packages/datacommons-mcp/examples/notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: pytest

minor formatting + keyur's updates
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

move notebooks to root
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

fix open in colab link
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

actually fix the link
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

updated package and colab paths
  docs/get_started.md
Due: none

Update link to Colab
  packages/datacommons-mcp/README.md
Due: pytest

Create quickstart placeholder
  docs/quickstart.md
Due: none

Refactor Gemini stuff out and create two files
  README.md
  docs/quickstart.md
  docs/user_guide.md
Due: none

reorder protocols
  packages/datacommons-mcp/README.md
Due: pytest

Add new links
  README.md
Due: none

fix links
  README.md
  packages/datacommons-mcp/README.md
Due: pytest

fix title
  docs/user_guide.md
Due: none

Update docs/user_guide.md
  docs/user_guide.md
Due: none

merge
  README.md
  docs/user_guide.md
Due: none

move internal docs to subfolder
  docs/internal/dev.md
  docs/internal/evals.md
Due: none

reorder entries
  README.md
Due: none

small changes from Dan
  README.md
Due: none

fix typo
  README.md
Due: none
