Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

nit
  docs/user_guide.md
Due: none

remove trailing comma
  docs/user_guide.md
Due: none

mods
  .github/workflows/ci.yaml
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

fix1
  .github/workflows/ci.yaml
Due: none

fix2
  .github/workflows/ci.yaml
Due: none

fix3
  .github/workflows/ci.yaml
Due: none

myfix
  .github/workflows/ci.yaml
Due: none

add key
  .github/workflows/ci.yaml
Due: none

add /heatlh
  .github/workflows/ci.yaml
  packages/datacommons-mcp/datacommons_mcp/cli.py
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

format
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

test breakage
  packages/datacommons-mcp/datacommons_mcp/data_models/__init__.py
  packages/datacommons-mcp/pyproject.toml
Due: ruff-format, pytest

comment out intermediate ci steps
  .github/workflows/ci.yaml
Due: none

attempt breakage 2
  packages/datacommons-mcp/pyproject.toml
Due: pytest

add back data_models/init
  packages/datacommons-mcp/datacommons_mcp/data_models/__init__.py
Due: ruff-format, pytest

revert breakage and temp mods
  .github/workflows/ci.yaml
  packages/datacommons-mcp/pyproject.toml
Due: pytest

checkpoint
  .github/workflows/ci.yaml
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

Log version number on server startup and accept --version flag
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

fix stateless warning
  packages/datacommons-mcp/datacommons_mcp/cli.py
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Add tests for main and version
  packages/datacommons-mcp/datacommons_mcp/cli.py
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

fix test
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

format
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

remove stdio check
  .github/workflows/ci.yaml
Due: none

test breakage
  packages/datacommons-mcp/pyproject.toml
Due: pytest

undo breakage
  packages/datacommons-mcp/pyproject.toml
Due: pytest

remove changes to cli.py
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

install wheel quietly
  .github/workflows/ci.yaml
Due: none

Run in parallel
  .github/workflows/ci.yaml
Due: none

test
  .github/workflows/ci.yaml
Due: none

test remove ci-checks steps
  .github/workflows/ci.yaml
Due: none

add back py version to ci-checks
  .github/workflows/ci.yaml
Due: none

remove ci-checks
  .github/workflows/ci.yaml
Due: none

final nits
  .github/workflows/ci.yaml
Due: none

nit
  .github/workflows/ci.yaml
Due: none

Publish v1.1.0rc1
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

introduce breakage
  packages/datacommons-mcp/pyproject.toml
Due: pytest

revert breakage
  packages/datacommons-mcp/pyproject.toml
Due: pytest

gitignore gemini files
  .gitignore
Due: none

Address gemini bot comments
  .gitignore
Due: none
