Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

Cleanup image tags and readme
  deploy/README.md
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Fix the release script for dev version
  Dockerfile
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  scripts/get_next_version.py
Due: ruff-format

Fixes the testpypi on fastapi again
  Dockerfile
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Change to using dynamic versioning
  deploy/autopush.yaml
  deploy/bump_version.yaml
  deploy/release.yaml
  deploy/staging.yaml
  packages/datacommons-mcp/datacommons_mcp/version.py
  packages/datacommons-mcp/pyproject.toml
  scripts/create_release_pr.py
  scripts/get_next_version.py
Due: ruff-format, pytest

Fix the version.py and readme
  deploy/README.md
  deploy/release.yaml
  packages/datacommons-mcp/pyproject.toml
  scripts/create_release_pr.py
Due: ruff-format, pytest

extract waiting for pypi propagation in a script
  Dockerfile
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  scripts/create_release_pr.py
  scripts/wait_for_pypi.py
Due: ruff-format

Adds usage comment
  scripts/wait_for_pypi.py
Due: ruff-format

chore: remove setup scripts from tracking
  scripts/setup_apigee_sa.sh
  scripts/setup_iam.sh
Due: none

UV Run Ruff fix
  packages/datacommons-mcp/datacommons_mcp/version.py
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
  scripts/wait_for_pypi.py
  uv.lock
Due: ruff-format, pytest

Add the MCP Version as env var, and start the /mcp endpoint
  deploy/README.md
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Lint fix
  packages/datacommons-mcp/datacommons_mcp/server.py
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
  scripts/wait_for_pypi.py
Due: ruff-format, pytest

Lint fix only.
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

NEXT_VERSION and docs
  deploy/README.md
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Remove the code in server.py that was unnecessary
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Adds logging when we fail to get the proper version.
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

lint
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Some minor fixes to the staging tag scripts
  scripts/create_staging_tag.py
Due: ruff-format

lint
  scripts/create_staging_tag.py
Due: ruff-format

Fixes wait for pypi to be more robust in the face of pypi propagation delay. Adds the correct version to be DC MCP version, not FastMCP version.
  packages/datacommons-mcp/datacommons_mcp/server.py
  scripts/get_next_version.py
  scripts/wait_for_pypi.py
Due: ruff-format, pytest

Linting fixes
  packages/datacommons-mcp/datacommons_mcp/server.py
  scripts/wait_for_pypi.py
Due: ruff-format, pytest

Lint formats
  packages/datacommons-mcp/datacommons_mcp/server.py
  scripts/wait_for_pypi.py
Due: ruff-format, pytest

Apply suggestion from @clincoln8
  scripts/create_staging_tag.py
Due: ruff-format

Addresses Christie comments + adds precondition checks and adds support for the commit hash on the create staging script.
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format

chore: bump version to 1.1.4
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Changed agent to point to hosted MCP server by default
  packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
Due: ruff-format, pytest

Add API key header
  packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
Due: ruff-format, pytest

Remove extraneous commas
  packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
Due: ruff-format, pytest

Implement server-side data keepalives to prevent client timeouts
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Simulate message
  deploy/local_staging/Dockerfile
  deploy/local_staging/deploy.sh
  packages/datacommons-mcp/datacommons_mcp/server.py
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
  uv.lock
Due: ruff-format, pytest

Switch to standard notifications/message debug log for keepalive
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Require datacommons-client >= 2.1.5
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: pytest

Add APIKeyMiddleware
  packages/datacommons-mcp/datacommons_mcp/middleware.py
Due: ruff-format, pytest

Register APIKeyMiddleware in HTTP mode
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

Add tests for APIKeyMiddleware
  packages/datacommons-mcp/tests/test_middleware.py
Due: ruff-format, pytest

Log at info level temporarily to verify on staging
  packages/datacommons-mcp/datacommons_mcp/middleware.py
Due: ruff-format, pytest

Fix ruff checks
  packages/datacommons-mcp/datacommons_mcp/middleware.py
  packages/datacommons-mcp/tests/test_middleware.py
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format, pytest

More temp logging
  packages/datacommons-mcp/datacommons_mcp/middleware.py
Due: ruff-format, pytest

Use print
  packages/datacommons-mcp/datacommons_mcp/cli.py
  packages/datacommons-mcp/datacommons_mcp/middleware.py
Due: ruff-format, pytest

Don't log keys
  packages/datacommons-mcp/datacommons_mcp/middleware.py
Due: ruff-format, pytest

Add staging env vars to cloud build config
  deploy/staging.yaml
Due: none
