Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  args: []
  stages:
  - pre-push

pytest:
  name: pytest
  entry: uv run pytest packages/datacommons-mcp/tests
  pass_filenames: false
  language: system
  stages:
  - pre-push

Fix lint errors
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/utils.py
  packages/datacommons-mcp/tests/test_app.py
  packages/datacommons-mcp/tests/test_utils.py
Due: ruff-format, pytest

Update year in copyright text for new files
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/tools.py
  packages/datacommons-mcp/tests/test_app.py
Due: ruff-format, pytest

Update server instructions
  packages/datacommons-mcp/datacommons_mcp/instructions/server.md
Due: pytest

Include instruction markdown files in built package
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Address review comments
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/search_indicators.md
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/tools.py
  packages/datacommons-mcp/pyproject.toml
Due: ruff-format, pytest

lint
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format

Fix logging json setting
  packages/datacommons-mcp/datacommons_mcp/app.py
Due: ruff-format, pytest

Fix server startup for custom instance (#163)
  packages/datacommons-mcp/datacommons_mcp/app.py
  scripts/create_release_pr.py
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format, pytest

clarify settings and make tests hermetic
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_app.py
Due: ruff-format, pytest

Make DCApp tests hermetic (#164)
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_app.py
Due: ruff-format, pytest

Remove use_search_indicators and legacy search configs from settings.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
Due: ruff-format, pytest

Remove legacy search indicators logic and parameters from DCClient
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

Clean up mock setups and tests for legacy search
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
Due: ruff-format, pytest

Fix lint errors
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Cleanup .env.sample
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

Remove legacy search indicators logic and config (#166)
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
Due: ruff-format, pytest

chore: bump version to 1.2.0
  packages/datacommons-mcp/pyproject.toml
Due: pytest

chore: bump version to 1.2.0 (#170)
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Adds the tags for service health dashboard to pickup
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Upddate tags to valid format
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

[Service Health] Adds the tags for service health dashboard to pickup releases (#178)
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Support GCS paths for server and tool instructions
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/utils.py
  packages/datacommons-mcp/pyproject.toml
  packages/datacommons-mcp/tests/test_utils.py
  uv.lock
Due: ruff-format, pytest

Address review comment
  packages/datacommons-mcp/datacommons_mcp/utils.py
Due: ruff-format, pytest

Simplify GCS path handling and pluralize instructions
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/utils.py
  packages/datacommons-mcp/tests/test_app.py
  packages/datacommons-mcp/tests/test_utils.py
Due: ruff-format, pytest

Support GCS paths for server and tool instructions (#183)
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/utils.py
  packages/datacommons-mcp/pyproject.toml
  packages/datacommons-mcp/tests/test_app.py
  packages/datacommons-mcp/tests/test_utils.py
  uv.lock
Due: ruff-format, pytest

chore: bump version to 1.2.1
  packages/datacommons-mcp/pyproject.toml
Due: pytest

chore: bump version to 1.2.1 (#185)
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Integrate Mixer-side agent APIs under USE_MIXER_AGENT_APIS flag
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/mixer/get_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/mixer/search_indicators.md
  packages/datacommons-mcp/datacommons_mcp/mixer_client.py
  packages/datacommons-mcp/datacommons_mcp/mixer_service.py
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/tools.py
  packages/datacommons-mcp/tests/test_mixer_service.py
  uv.lock
Due: ruff-format, pytest

Refactor Mixer tools into separate file and add logging decorator
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/exceptions.py
  packages/datacommons-mcp/datacommons_mcp/mixer_client.py
  packages/datacommons-mcp/datacommons_mcp/mixer_service.py
  packages/datacommons-mcp/datacommons_mcp/mixer_tools.py
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/tests/test_mixer_service.py
Due: ruff-format, pytest

Format and lint
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/datacommons_mcp/mixer_client.py
  packages/datacommons-mcp/tests/test_mixer_service.py
Due: ruff-format, pytest

Document USE_MIXER_AGENT_APIS in .env.sample
  packages/datacommons-mcp/.env.sample
Due: pytest

Use real place in tool instructions
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/mixer/search_indicators.md
Due: pytest

Rename Mixer to Agent API
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/datacommons_mcp/agent_api_client.py
  packages/datacommons-mcp/datacommons_mcp/agent_api_service.py
  packages/datacommons-mcp/datacommons_mcp/agent_api_tools.py
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/datacommons_mcp/exceptions.py
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/agent_api/get_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/agent_api/search_indicators.md
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/tests/test_agent_api.py
Due: ruff-format, pytest

Overhaul mcp tools, add metadata tool and introduce skills
  packages/datacommons-mcp/datacommons_mcp/agent_api_service.py
  packages/datacommons-mcp/datacommons_mcp/agent_api_tools.py
  packages/datacommons-mcp/datacommons_mcp/app.py
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/server.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/skills/data-commons-researcher/SKILL.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/tools/get_child_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/tools/get_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/tools/get_variable_metadata.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/tools/search_child_indicators.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/tools/search_indicators.md
  packages/datacommons-mcp/datacommons_mcp/instructions/local/server.md
  packages/datacommons-mcp/datacommons_mcp/instructions/local/tools/get_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/local/tools/search_indicators.md
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/__init__.py
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/agent_api/get_observations.md
  packages/datacommons-mcp/datacommons_mcp/instructions/tools/agent_api/search_indicators.md
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/evals/tool_call_evals/agent.py
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/place_params.test.json
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/source_params.test.json
  packages/datacommons-mcp/pyproject.toml
  packages/datacommons-mcp/tests/test_agent_api.py
  packages/datacommons-mcp/tests/test_app.py
  packages/datacommons-mcp/tests/test_utils.py
  pyproject.toml
  uv.lock
Due: ruff-format, pytest

Add GCS path handling TODO and isolate test imports
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/tests/test_agent_api.py
Due: ruff-format, pytest

Pin FastMCP dependency to exact version 3.4.2
  packages/datacommons-mcp/pyproject.toml
  pyproject.toml
Due: pytest

Revert changes to evaluation toolset and fixtures
  packages/datacommons-mcp/evals/tool_call_evals/agent.py
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/place_params.test.json
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/source_params.test.json
Due: ruff-format, pytest

Add multi-entity observation support and researcher skill
  packages/datacommons-mcp/datacommons_mcp/agent_api_service.py
  packages/datacommons-mcp/datacommons_mcp/agent_api_tools.py
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/server.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/skills/data-commons-child-places-researcher/SKILL.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/skills/data-commons-multi-entity-researcher/SKILL.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/skills/data-commons-researcher/SKILL.md
  packages/datacommons-mcp/datacommons_mcp/instructions/agent_api/tools/get_multi_entity_observations.md
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/tests/test_agent_api.py
Due: ruff-format, pytest

Path conditions:
  ruff-format: any of: \.py$
  pytest: any of: ^packages/datacommons-mcp/
