Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  args: []
  stages:
  - pre-push

pytest:
  name: pytest
  entry: uv run pytest packages/datacommons-mcp/tests
  pass_filenames: false
  language: system
  stages:
  - pre-push

tests pass
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/search.py
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/services.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_services.py
Due: ruff-format, pytest

update log statements
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

only contain available data in name mapping
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

ruff check
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

gemini nits
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/search.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
Due: ruff-format, pytest

reorder methods in clients
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

add place data to topics
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Add clarifying comment
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

minor wording changes
  docs/get_started.md
Due: none

fix index param
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

nit
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

Include sdg topics, fetch + expand topics when include_topics=False
  packages/datacommons-mcp/.env.sample
  packages/datacommons-mcp/README.md
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data/topics/sdg_topic_cache.json
  packages/datacommons-mcp/datacommons_mcp/data/topics/topic_cache.json
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/datacommons_mcp/topics.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
  packages/datacommons-mcp/tests/test_topics.py
Due: ruff-format, pytest

Address review comments
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
Due: ruff-format, pytest

Use isolated test env
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Bump version to 0.1.6
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Remove place_name parameter from get_observations
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Fix evals
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/date_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/place_params.test.json
  packages/datacommons-test-agents/datacommons_test_agents/basic_agent/evals/data/get_observations/source_params.test.json
Due: none

intermediate
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Include json files in subdirs in package
  packages/datacommons-mcp/pyproject.toml
Due: pytest

update version
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Update settings.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
Due: ruff-format, pytest

don't return tool response
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

all but one
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

all pass
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

format
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

all passing
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

Restructuring
  docs/dev_client.md
Due: none

Remove DC_TOPIC_CACHE_PATHS from .env.sample
  packages/datacommons-mcp/.env.sample
Due: pytest

reorganize
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

More updates, changes to top-level README.md
  README.md
  docs/get_started.md
Due: none

More changes
  docs/get_started.md
Due: none

expand all variables when no place_dcids are specified
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/tests/test_dc_client.py
Due: ruff-format, pytest

More additions
  docs/get_started.md
Due: none

Remove advanced config
  packages/datacommons-mcp/.env.sample
Due: pytest

Update dev.md
  packages/datacommons-mcp/docs/dev.md
Due: pytest

fix formatting for _transform_search_indicators_response example
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

Path conditions:
  ruff-format: any of: \.py$
  pytest: any of: ^packages/datacommons-mcp/
