Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

more changes from Dan
  docs/user_guide.md
Due: none

[v0.1.10]Bump version
  packages/datacommons-mcp/datacommons_mcp/data_models/__init__.py
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

ruff check
  packages/datacommons-mcp/datacommons_mcp/data_models/observations.py
Due: ruff-format, pytest

migrate Gemini CLI content to quickstart
  docs/quickstart.md
  docs/user_guide.md
Due: none

add missing link
  docs/quickstart.md
Due: none

fix JSON formatting
  docs/quickstart.md
Due: none

add more auth info
  docs/quickstart.md
Due: none

formatting fixes
  docs/quickstart.md
  docs/user_guide.md
Due: none

fixes from code assist
  docs/user_guide.md
Due: none

json formatting try again
  docs/quickstart.md
Due: none

third try
  docs/quickstart.md
Due: none

fix quotes
  docs/quickstart.md
Due: none

edits
  packages/datacommons-mcp/README.md
Due: pytest

minor fixes
  packages/datacommons-mcp/README.md
Due: pytest

minor nit
  packages/datacommons-mcp/README.md
Due: pytest

[v1.0.0] Version bump -- release
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

change uv install link to official docs instead of github
  packages/datacommons-mcp/README.md
Due: pytest

idk
  packages/datacommons-mcp/README.md
Due: pytest

fixes
  packages/datacommons-mcp/README.md
Due: pytest

simplify port config
  packages/datacommons-mcp/README.md
Due: pytest

minor formatting
  packages/datacommons-mcp/README.md
Due: pytest

move stdio note to under heading
  packages/datacommons-mcp/README.md
Due: pytest

nit
  packages/datacommons-mcp/README.md
Due: pytest

changes from Dan and Keyur
  docs/quickstart.md
  docs/user_guide.md
Due: none

adding mcp metadata tag
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

adding tag to third observation call
  packages/datacommons-mcp/datacommons_mcp/clients.py
Due: ruff-format, pytest

more changes from Keyur
  docs/quickstart.md
Due: none

minor word change
  docs/quickstart.md
Due: none

Add missing agent and inspector steps
  docs/user_guide.md
Due: none

simplify agent steps
  docs/user_guide.md
Due: none

delete extra agents doc
  docs/sample_agents.md
Due: none

sync again
  packages/datacommons-mcp/README.md
Due: pytest

slight wording changes
  docs/user_guide.md
Due: none

fix command
  docs/user_guide.md
Due: none

allow google_ or gemini_ api key; make 2.5-pro default model; make prompt a dropdown w/input
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

undo format
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

nits
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

fix GOOGLE_API_KEY
  notebooks/datacommons_mcp_tools_with_custom_agent.ipynb
Due: none

Update user_guide.md to include disclaimer and feedback link
  docs/user_guide.md
Due: none
