Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

formatting
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
  packages/datacommons-mcp/evals/evaluator_framework/types.py
Due: ruff-format, pytest

Add apache license to python package
  packages/datacommons-mcp/LICENSE
  packages/datacommons-mcp/datacommons_mcp/version.py
  packages/datacommons-mcp/pyproject.toml
Due: ruff-format, pytest

Use license file reference in pyproject.toml
  packages/datacommons-mcp/pyproject.toml
Due: pytest

Add Python version classifiers
  packages/datacommons-mcp/pyproject.toml
Due: pytest

bump 1.1.3rc2
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Publish v1.1.3
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

add comment
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

use `uv add` for dotenv dependency
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: pytest

fix
  uv.lock
Due: none

format
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

reset uv.lock
  uv.lock
Due: none

fix uv lock
  pyproject.toml
  uv.lock
Due: none

update cli tests
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

create clean test env
  packages/datacommons-mcp/tests/conftest.py
  packages/datacommons-mcp/tests/test_cli.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
  packages/datacommons-mcp/tests/test_temp_constrained_vars.py
Due: ruff-format, pytest

nits
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

format
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

revert version bump
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

simplify
  packages/datacommons-mcp/tests/conftest.py
  packages/datacommons-mcp/tests/test_cli.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
  packages/datacommons-mcp/tests/test_temp_constrained_vars.py
Due: ruff-format, pytest

simplify
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

remove env_patcher
  packages/datacommons-mcp/tests/conftest.py
  packages/datacommons-mcp/tests/test_cli.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_settings.py
  packages/datacommons-mcp/tests/test_temp_constrained_vars.py
Due: ruff-format, pytest

formatter
  packages/datacommons-mcp/tests/conftest.py
  packages/datacommons-mcp/tests/test_settings.py
Due: ruff-format, pytest

nit
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

standardize patching syntax
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

standardize
  packages/datacommons-mcp/tests/test_cli.py
Due: ruff-format, pytest

Cancel eval workflow if the PR is merged.
  .github/workflows/evals.yaml
Due: none

Add dockerfile
  Dockerfile
Due: none

Cleanup
  Dockerfile
Due: none

Dockerfil update + cloudbuild.yamls
  Dockerfile
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Modifies prod cloudbuild action to raise a PR to update the version.py. Note version.py will be updated locally before the pypi push.
  deploy/release.yaml
  deploy/staging.yaml
Due: none

Committing cloudbuilds and setup scripts.
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  scripts/setup_apigee_sa.sh
  scripts/setup_iam.sh
Due: none

Wokring autopush cloud build
  deploy/autopush.yaml
Due: none

And some more required things
  Dockerfile
  packages/datacommons-mcp/pyproject.toml
  scripts/setup_iam.sh
Due: pytest

Fixes to Autopush, staging and Release.yaml. Upcoming: Add build triggers
  deploy/README.md
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  scripts/create_staging_tag.py
  scripts/get_next_version.py
Due: ruff-format

chore: bump version to 1.1.3
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Successfully tested all the deployments including pushing to prod and opening PR to update version.
  deploy/release.yaml
  scripts/setup_iam.sh
Due: none

Adds comments everywhere
  Dockerfile
  deploy/autopush.yaml
  deploy/release.yaml
  deploy/staging.yaml
  scripts/create_staging_tag.py
  scripts/get_next_version.py
  scripts/setup_apigee_sa.sh
  scripts/setup_iam.sh
Due: ruff-format
