Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  args: []
  stages:
  - pre-push

pytest:
  name: pytest
  entry: uv run pytest packages/datacommons-mcp/tests
  pass_filenames: false
  language: system
  stages:
  - pre-push

various additions and reformatting
  docs/get_started.md
Due: none

wee edits
  docs/get_started.md
Due: none

remove dev.md file
  packages/datacommons-mcp/docs/dev.md
Due: pytest

Remove dev file
  docs/dev_client.md
Due: none

Add note about updating custom DC code
  docs/get_started.md
Due: none

More refactoring
  docs/get_started.md
Due: none

more changes
  docs/get_started.md
Due: none

revert cut
  docs/get_started.md
Due: none

Update docs/get_started.md
  docs/get_started.md
Due: none

fixes recommended by code assist
  docs/get_started.md
Due: none

Remove unsupported TOC format
  docs/get_started.md
Due: none

Fix section anchors to work in Github
  docs/get_started.md
Due: none

added feedback note
  docs/get_started.md
Due: none

Convert output to toolresults, drop unstructured content
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

fix
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Maintain both member and descendant variables in topic stores
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/topics.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_temp_constrained_vars.py
  packages/datacommons-mcp/tests/test_topics.py
Due: ruff-format, pytest

ruff check
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Don't load descendant variables from file, they are not saved anyway
  packages/datacommons-mcp/datacommons_mcp/topics.py
Due: ruff-format, pytest

dry
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

some wording changes
  docs/get_started.md
Due: none

retitle
  docs/get_started.md
Due: none

adds Keyur's description of topics
  docs/get_started.md
Due: none

fix wrong doc link
  README.md
Due: none

renames
  docs/get_started.md
Due: none

Minimize code changes around invocation of the new search-indicators endpoint
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/services.py
  packages/datacommons-mcp/tests/test_dc_client.py
  packages/datacommons-mcp/tests/test_services.py
Due: ruff-format, pytest

Revert "Return ToolResponse with structured output only for get_observations …"
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Update README.md
  README.md
Due: none

Changes from Dan and Christie
  README.md
  docs/get_started.md
Due: none

Add business logic for what-data query support
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/datacommons_mcp/topics.py
Due: ruff-format, pytest

Update of server readme for PyPi page
  packages/datacommons-mcp/README.md
Due: pytest

Update/simplify the server readme for PyPi
  packages/datacommons-mcp/README.md
Due: pytest

merge and more changes
  docs/get_started.md
Due: none

Add tool instructions
  packages/datacommons-mcp/datacommons_mcp/clients.py
  packages/datacommons-mcp/datacommons_mcp/data_models/settings.py
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Revise/update/simplify readme for pypi
  docs/get_started.md
  packages/datacommons-mcp/README.md
Due: pytest

Path conditions:
  ruff-format: any of: \.py$
  pytest: any of: ^packages/datacommons-mcp/
