Repository datacommonsorg/agent-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]
      # TODO(clincoln8): Uncomment when repo is in healthy state.
      # - id: ruff-check
      #   name: ruff-check
      #   entry: uv run ruff check
      #   language: system
      #   types: [python]
      #   args: [--fix]
      #   stages: [pre-push]
      - id: pytest
        name: pytest
        entry: uv run pytest packages/datacommons-mcp/tests
        pass_filenames: False
        files: ^packages/datacommons-mcp/
        language: system
        stages: [pre-push]

wip
  packages/datacommons-mcp/evals/evaluator/agent_evaluator_models.py
  packages/datacommons-mcp/evals/evaluator/new_agent_evaluator.py
  packages/datacommons-mcp/evals/test_tool_agent/agent.py
  packages/datacommons-mcp/evals/test_tool_agent/evals/test_tools.py
  packages/datacommons-mcp/examples/sample_agents/basic_agent/agent.py
  pyproject.toml
  uv.lock
Due: ruff-format, pytest

Remove upper bound on python requirements
  packages/datacommons-mcp/pyproject.toml
  pyproject.toml
  uv.lock
Due: pytest

Update rc version
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Bump upper bound to 4.0
  packages/datacommons-mcp/pyproject.toml
  pyproject.toml
Due: pytest

Update uv.lock
  uv.lock
Due: none

Use 3.14 as upper bound
  packages/datacommons-mcp/pyproject.toml
  pyproject.toml
  uv.lock
Due: pytest

Migrated new agent evaluator into the existing agent evaluator
  packages/datacommons-mcp/evals/evaluator/agent_evaluator.py
  packages/datacommons-mcp/evals/evaluator/agent_evaluator_models.py
  packages/datacommons-mcp/evals/evaluator/new_agent_evaluator.py
  packages/datacommons-mcp/evals/test_tool_agent/evals/test_tools.py
Due: ruff-format, pytest

evals
  .github/workflows/evals.yaml
Due: none

evals
  packages/datacommons-mcp/evals/evaluator/agent_evaluator_models.py
Due: ruff-format, pytest

moved threshold configs inline in unit tests
  packages/datacommons-mcp/evals/evaluator/agent_evaluator.py
  packages/datacommons-mcp/evals/test_tool_agent/evals/data/get_observations/test_config.json
  packages/datacommons-mcp/evals/test_tool_agent/evals/test_tools.py
Due: ruff-format, pytest

moved threshold configs inline in unit tests
  packages/datacommons-mcp/evals/evaluator/agent_evaluator.py
Due: ruff-format, pytest

removed temp eval testing workflow
  .github/workflows/evals.yaml
Due: none

return raw json
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

change release number
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

increment rc
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

add comment
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

output to dict
  packages/datacommons-mcp/datacommons_mcp/server.py
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

exclude none in search response
  packages/datacommons-mcp/datacommons_mcp/server.py
Due: ruff-format, pytest

Publish v1.1.3
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

1.1.2 actually
  packages/datacommons-mcp/datacommons_mcp/version.py
Due: ruff-format, pytest

Update instructions about DC GCLI extension versioning.
  docs/internal/dev.md
Due: none

nits
  docs/internal/dev.md
Due: none

Consolidated evaluation steps with agent turns
  packages/datacommons-mcp/evals/evaluator/agent_evaluator.py
  packages/datacommons-mcp/evals/evaluator/agent_evaluator_models.py
Due: ruff-format, pytest

Added eval documentation
  docs/internal/evals.md
Due: none

Update packages/datacommons-mcp/evals/evaluator/agent_evaluator.py
  packages/datacommons-mcp/evals/evaluator/agent_evaluator.py
Due: ruff-format, pytest

Organized files, improved parallelization, added a sample orchestration test case
  docs/internal/evals.md
  packages/datacommons-mcp/evals/evaluator_framework/__init__.py
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
  packages/datacommons-mcp/evals/evaluator_framework/runner.py
  packages/datacommons-mcp/evals/evaluator_framework/types.py
  packages/datacommons-mcp/evals/test_tool_agent/agent.py
  packages/datacommons-mcp/evals/test_tool_agent/bootstrap.py
  packages/datacommons-mcp/evals/test_tool_agent/evals/__init__.py
  packages/datacommons-mcp/evals/tool_call_evals/__init__.py
  packages/datacommons-mcp/evals/tool_call_evals/agent.py
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/date_params.test.json
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/place_params.test.json
  packages/datacommons-mcp/evals/tool_call_evals/data/get_observations/source_params.test.json
  packages/datacommons-mcp/evals/tool_call_evals/data/orchestration/search_then_fetch.test.json
  packages/datacommons-mcp/evals/tool_call_evals/instructions.py
  packages/datacommons-mcp/evals/tool_call_evals/test_tool_usage.py
Due: ruff-format, pytest

formatting
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
  packages/datacommons-mcp/evals/evaluator_framework/runner.py
  packages/datacommons-mcp/evals/tool_call_evals/agent.py
  packages/datacommons-mcp/evals/tool_call_evals/instructions.py
  packages/datacommons-mcp/evals/tool_call_evals/test_tool_usage.py
Due: ruff-format, pytest

formatting
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
  packages/datacommons-mcp/evals/tool_call_evals/agent.py
Due: ruff-format, pytest

formatting
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
Due: ruff-format, pytest

Update packages/datacommons-mcp/evals/tool_call_evals/test_tool_usage.py
  packages/datacommons-mcp/evals/tool_call_evals/test_tool_usage.py
Due: ruff-format, pytest

ruff formatting improvements
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
  packages/datacommons-mcp/evals/tool_call_evals/agent.py
  pyproject.toml
Due: ruff-format, pytest

Removed unused TC002 ruff check
  pyproject.toml
Due: none

Add debugger configs
  .gitignore
  .vscode/launch.json
  docs/internal/dev.md
  packages/datacommons-mcp/datacommons_mcp/cli.py
Due: ruff-format, pytest

Load .env file before validating api key
  packages/datacommons-mcp/datacommons_mcp/cli.py
  packages/datacommons-mcp/pyproject.toml
  uv.lock
Due: ruff-format, pytest

nit
  docs/internal/dev.md
Due: none

Updated report generation flow to use more strict type definitions
  packages/datacommons-mcp/evals/evaluator_framework/evaluator.py
  packages/datacommons-mcp/evals/evaluator_framework/types.py
Due: ruff-format, pytest
